<%- include('../partials/header') %>

<h1>All Flights</h1>
  <table id="list">
    <thead>
      <tr>
        <th>Airline</th>
        <th>Flight Number</th>
      </tr>
    </thead>
    <tbody>
        <% flights.forEach(f => { %>
            <tr>
                <td><%= f.airline %></td>
                <td><%= f.flightNo %></td>
                <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
                <td>
                    <form action="/flights/<%= f._id %>?_method=DELETE" method="POST">
                        <button class="delete-btn" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        <% }) %>

    </tbody>
  </table>

<!-- f.departs.toLocaleString() -->

<%- include('../partials/footer') %>