<%- include('../partials/header') %>

<h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Flight Number</th>
      </tr>
    </thead>
    <tbody>
        <% flights.forEach(f => { %>
            <tr>
                <td><%= f.airline %></td>
                <td><%= f.flightNo %></td>
                <td><a href="/flights/<%= f._id %>">DETAILS</a></td>
            </tr>
        <% }) %>

    </tbody>
  </table>

<!-- f.departs.toLocaleString() -->

<%- include('../partials/footer') %>