<%- include('../partials/header') %>

<h1>FLIGHT DETAILS</h1>
<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %> </div>
    <div>Departing From: </div>
    <div><%= flight.airport %> </div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %> </div>
    <div>Departure Time: </div>
    <div><%= flight.departure %> </div>
</section>
<br>
<div>Destination:</div>
<div><%= flight.destinations.airport %> </div>
<div>Arrival Time:</div>
<div> <%= flight.destinations.arrival %> </div>

    
<%- include('../partials/footer') %>