<%- include('../partials/header') %>

<h1>Flight Details</h1>
<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %> </div>
    <br>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %> </div>
    <br>
    <div>Departing From: </div>
    <div><%= flight.airport %> </div>
    <br>
    <div>Departure Time: </div>
    <div><%= flight.departs.toLocaleString() %> </div>
</section>
<br>
<br>
<h2>Destinations</h2>
<form id="add-destination-form" method="POST" action="/flights/<%= flight._id %>/destinations">
    <label>Airport:
        <select name="airport">
            <option value="ATL">ATL</option>
            <option value="DFW">DFW</option>
            <option value="DEN" selected>DEN</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
    </label>
    <br>
    <label>Arrives:
        <input type="datetime-local" name="arrival">
    </label><br>
    <input type="submit" value="Add Destination">
</form>


<% if (flight.destinations.length) { %> 
    <table>
        <thead>
            <tr>
                <th>Destination:</th>
                <th>Arrival Time:</th>
            </tr>
        </thead>
        <tbody>
            <% flight.destinations.forEach(function(d) { %>
                <tr>
                    <td><%= d.airport %></td>
                    <td><%= d.arrival.toLocaleString() %></td>
                </tr>
            <% }); %> 
        </tbody>
    </table>
<% } else { %>
    <h5>No Destination Specified</h5>
<% } %>

<table id="ticket-table">
    <thead>
        <tr>
            <th>Seat</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <% tickets.forEach(function(t){ %> 
            <tr>
                <td><%= t.seat %></td>
                <td><%= t.price %> </td>
            </tr>
        <% }) %> 
    </tbody>
</table>

    
<%- include('../partials/footer') %>